@using static In_Anh.Models.ImageModel;
@{
    ViewData["Title"] = "Home Page";
	var lang = ViewBag.Language == null ? null : ViewBag.Language as Languages;
    
}

<div class="text-center">
	<div class="container">
		<div class="mhn-slide owl-carousel">
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?paper">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Paper</h4>
						<p>Paper is a thin material produced by pressing together moist fibres of cellulose pulp derived from wood, rags or grasses, and drying them into flexible sheets.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?fire">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Fire</h4>
						<p>Fire is the rapid oxidation of a material in the exothermic chemical process of combustion, releasing heat, light, and various reaction products.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?nature">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Nature</h4>
						<p>Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?video">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Video</h4>
						<p>Video is an electronic medium for the recording, copying, playback, broadcasting, and display of moving visual media.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?hiking">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Hiking</h4>
						<p>Hiking is the preferred term, in Canada and the United States, for a long, vigorous walk, usually on trails (footpaths), in the countryside, while the word walking is used for shorter, particularly urban walks.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?future">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Future</h4>
						<p>The future is the time after the present. Future or The Future may also refer to: Futures contract, a standardized financial contract; Future (programming) · Future tense, in grammar. Contents.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?music">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Music</h4>
						<p>Music is an art form and cultural activity whose medium is sound organized in time. The common elements of music are pitch rhythm dynamics (loudness and softness), and the sonic qualities of timbre and texture (which are sometimes termed the "color" of a musical sound).</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?money">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Money</h4>
						<p>Money is any item or verifiable record that is generally accepted as payment for goods and services and repayment of debts in a particular country or socio-economic context.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?happiness">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Happiness</h4>
						<p>In psychology, happiness is a mental or emotional state of well-being which can be defined by, among others, positive or pleasant emotions ranging from contentment to intense joy.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?nepal">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Nepal</h4>
						<p>Nepal is a landlocked central Himalayan country in South Asia. Nepal is divided into 7 states and 77 districts and 744 local units including 4 metropolises, 13 sub-metropolises, 246 municipal councils and 481 villages.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?love">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Love</h4>
						<p>Love encompasses a variety of different emotional and mental states, typically strongly and positively experienced, ranging from the deepest interpersonal affection to the simplest pleasure.</p>
					</div>
				</div>
			</div>
			<div class="mhn-item">
				<div class="mhn-inner">
					<img src="https://source.unsplash.com/600x400/?sports">
					<div class="mhn-img"><div class="loader-circle"><div class="loader-stroke-left"></div><div class="loader-stroke-right"></div></div></div>
					<div class="mhn-text">
						<h4>Sports</h4>
						<p>A sport is commonly defined as an athletic activity or skill and involves a degree of competition, such as tennis or basketball. Some games and many kinds of racing are called sports.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


    <form id="formimage" class="container image-cointainer hidden">
        <select class=" image-size-select w-25 form-select" aria-label="Default select example">
            <option value="-1" selected>@lang?.ChooseSize</option>
            @{
                <option value="0">4x6</option>
                <option value="1">6x9</option>
                <option value="2">9x12</option>
                <option value="3">10x15</option>
                <option value="4">13x18</option>
                <option value="5">15x21</option>
                <option value="6">20x30 (~A4)</option>
            }
        </select>
    </form>
</div>
<button onclick="return uploader.handdleClickPrint()" id="md-print" type="button" class="hidden pt-3 pb-3 ps-4 pe-4 position-fixed mb-5 bottom-0 start-50 translate-middle-x btn btn-primary btn-lg">@lang?.Print @lang?.All <span></span> @lang?.Image </button>

<div class=" modal fade mt-30 " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">

                        <input required type="text" placeholder="@lang?.Name*" class="form-control" id="namesm" />
                    </div>
                    <div class="col-md-6">
                         
                        <input type="tel" placeholder="@lang?.Phone*" class="form-control" id="phonesm" >
                    </div>
                    <div class="col-12">

                        <input type="text" class="form-control" id="addresssm" placeholder="@lang?.Address*" />
                    </div>


                    <div class="col-md-12">

                        <textarea title="" type="text" class="form-control" id="notesm" placeholder="@lang?.Note"></textarea>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button onclick="return uploader.uploadDAllImage()" type="button" class="btn btn-primary btnsm-all">@lang?.Print <span></span> @lang?.Image</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed end-0 top-0 p-3" style="z-index:2">
	<div id="mytoast" data-isshow="false" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			@* <img src="..." class="rounded me-2" alt="..."> *@
			<strong class="me-auto">Thành công</strong>
			<small>1 giây trước</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			Tải ảnh lên thành công
		</div>
	</div>
</div>
