html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.hidden{
    display:none!important ;
}
div.modal{
    top:43vh;
}
a.btn_book {
    background: #00997D;
    font-weight: 600;
    border-radius: 0 0 10px 0;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    padding: 16px 30px;
    color: #fff;
    max-width: 175px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}
div.item-home-1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-print-all {
    background-color: #00997D;
}
    .button-print-all:disabled {
        background-color: #00997D;
    }
#md-print {
    background-color: #00997D;
}
.home1-cont {
    padding-bottom: 60px;
    padding-top: 12px;
    background-color: #F2deb1;
}
.home2-cont {
    margin-top: 12px;
    margin-bottom: 10vh;
    background-color: #F2f0ea;
}
#formimage{
    margin-bottom:80vh;
}