div .ssi-imgToUploadTable{
    width:137px;
}

#ssi-info #ssi-fileNumber {
    display: none;
}
div.image-size-select{
    min-width:134px;
}

@media (max-width: 768px) {
    #formimage div .ssi-imgToUploadTable {
        width: calc(100%/3 - 4px);
    }
    
}
